<div class="container">
  <div class="hero"></div>

 <div class="promoted">
   <!--<div class="promo-text"> -->
      <div class="header-text cta">Mission Statement</div>
          <ul>
            <li>To prevent good laptops from ending up as landfill by providing a new home for them</li>
            <li>To provide a cheap source of laptops for those who cannot afford new ones</li>
          </ul>
      </div>
    <!--</div>-->
  </div>

  <ul class="cta">
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Acer'}" class="part">
        <img src="/assets/images/laptops/AcerC733.png" alt="Acer" />
        <div>Acer</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'HP'}" class="part">
        <img src="/assets/images/laptops/HPG8-11in.png" alt="Robot Arms" />
        <div>HP</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Lenovo'}" class="part">
        <img src="/assets/images/laptops/Lenovo300e.png" alt="Lenovo" />
        <div>Lenovo</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Samsung'}" class="part">
        <img src="/assets/images/laptops/SamsungChromebook4.png" alt="Samsung" />
        <div>Samsung</div>
      </a>
    </li>
  </ul>

  <div class="Drama">
    <img src="/assets/images/laptoprepair.png" alt="Drama" />
    <div class="text">
      <div>
    </div>
  </div>
</div>