<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img src="/assets/images/laptops/logo.png" alt="logo" />
    <div class="promo-text">
      <div class="promo-main-text">Laptops</div>
      <div class="promo-sub-text cta">
        <div></div>
        <div></div>
      </div>
    </div>
    <img src="/assets/images/laptops/HPG8-11in.png" alt="HP" />
  </div>

  <ul class="cta">
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Acer'}" class="part">
        <img src="/assets/images/laptops/AcerC733.png" alt="Acer" />
        <div>Acer</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'HP'}" class="part">
        <img src="/assets/images/laptops/HPG8-11in.png" alt="Robot Arms" />
        <div>HP</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Lenovo'}" class="part">
        <img src="/assets/images/laptops/Lenovo300e.png" alt="Lenovo" />
        <div>Lenovo</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Samsung'}" class="part">
        <img src="/assets/images/laptops/SamsungChromebook4.png" alt="Samsung" />
        <div>Samsung</div>
      </a>
    </li>
  </ul>

  <div class="Drama">
    <img src="/assets/images/laptoprepair.png" alt="Drama" />
    <div class="text">
      <div>
        <div class="header-text cta">Veritas</div>
        <div class="sub-text">
          <p>which is Latin for truth</p>ß
        </div>
      </div>
      <div class="large-text">WHITE PAPER</div>
      <a href="" class="learn-more">Learn More</a>
    </div>
  </div>
</div>